html{
  font-size: 16px;
  background-color: #fff;
}

body {
  font-family: "calibre", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42;
  color: #333333;
  -webkit-font-smoothing: antialiased;
};

h1, h2, h3, h4{
    margin-top: 15px;
    margin-bottom: 11px;
    font-weight: 700;
    line-height: 1;
};

h1{
  display: block;
  // font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
};

* {
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

.form-control{
    box-sizing: border-box;
    height: 68px;
    // width: 100%;
    border: solid 1px #333333;
    margin-bottom: 10px;
    padding: 16px;
    font-weight: 600;
    font-size: 1.2rem;
    color: #555555;
}

.main-content{
  display: flex;
  justify-content: center;
}

.DayPickerInput{
    height: 60%;
    // margin-left: 10px;
    // margin-right: 10px;
    // padding-top: 7px;
    // border: solid 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DayPickerInput input{
    box-sizing: border-box;
    height: 68px;
    width: 100%;
    // border: solid 1px #333333;
    margin-bottom: 10px;
    // padding: 16px;
    // font-weight: 600;
    font-size: 1.2rem;
    color: #555555;
}

.DayPickerInput input::placeholder{
    text-align: center;
}

.special-buttons-2{
    // width: 30%;
    background-color: #40d9ac;
    border: 3px solid #40d9ac;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 15px; 
    border-radius: 2px; 
    padding: 10px 12px;
    color: #fff;
}

.special-buttons-2:hover{
    background-color: #fff;
    color: #40d9ac;
}

a {
  transition: all 0.25s ease 0s;
}

.logo{
  background-image: url(asset-path('logo.jpg'));
  background-size: contain;
  background-repeat: no-repeat;
}

span.icon {
  font-size: 24px;
}

.row{
    width: 100%;
    display: flex;
};
