.campsite-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.campsite-main-content{
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.photo-container{
    width: 100%;
    // display: flex;
    // flex-wrap: nowrap;
    // overflow: hidden;
    // transform-style: preserve-3d;

}

.photo-container:first-child{
    margin: 20px;
}

.photo{
    width: 50%;
    height: 490px;
    margin-right: 10px;
    // object-fit: contain;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

// button.prev, button.next{
//   position: absolute;
//   top: 40%; 
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 32px;
//   color: #FFF;
//   background-color: #333;
//   border-radius: 50%;
//   width: 60px;
//   height: 60px;
// }

// button.prev{
//   left: 10px;
// }

// button.next{
//   right: 10px;
// }

.campsite-show-info{
    width: 60%; 

}

.show-row, .campsite-description, .campsite-map{
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
}

.campsite-map{
    margin-top: 30px;
    width: 100%;
    height: 500px;
}

.campsite-title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 42px;
}

.campsite-address{
    display: inline;
}

.campsite-description{
    font-size: 18px;
    line-height: 1.42;
    color: #333333;
    height: 500px;
    overflow: auto;
    padding-bottom: 20px;

}
.show-row{
    margin-top: 30px;
}

.tags-container, .weather-container{
    width: 32%;
    // border: solid 2px blue;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // height: 220px;
    padding: 30px 0;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
}

.tags-list{
    margin-top: 20px;
    text-align: center;

}

.tags-container h2{
    margin: 0;
}

.tags-list li{
    font-size: 18px;
    line-height: 1.42;
    color: #333333;
    padding: 5px;
}

.show-row{
    flex-wrap: wrap;
};

.show-row > h2{
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
};


