.footer, .footer-bottom{
  width: 100%; 
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: solid 1px #ebebeb; 
  padding-top: 5px;
}

.footer{
  padding: 20px 15%;
  margin-bottom: 30px;
}

.footer .logo{
  width: 100%;
  height: 40px;
}

.footer-left{
  width: 45%;
  display: flex;
}

.footer-right{
  width: 45%;
}

.footer-left p a{
  color: blue;

}

.footer-left-section{
  margin-right: 10px; 
}
.footer-title{
  margin-bottom: 24px; 
}

.footer p{
  color: #757575;
  line-height: 1.5;
}

.profile-links{
  display: flex;
  font-size: 22px;
}

.profile-links a{
  margin-right: 5px;
}
