
.home-title h1{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0;
    line-height: 43.2px;
}

.home-title .sub-title{
    margin: 24px 0 35px auto;
};

.sub-title h3{
    display: inline;
    font-size: 1em;
    font-weight: 400;
}

.home-search-container{
    display: block;
    
}

.home-search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: solid 1px red;
}

// .place-search-box-home{

// }