.header {
  color: #333333;
  background: white;
  /* border-bottom: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  top: 0;
  margin: 0 auto;
  height: 70px;
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  z-index: 10;
  margin-bottom: 5px;
};

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  // width: 60%;
  height: 100%;
}

.left .logo {
  height: 80%;

  background-position: center 30%;
};

.header-logo {
    width: 200px;
    // height: 100%;
    /* border-right: 3px solid #ccc; */
    font-weight: bold;
    margin: 0 20px;
    padding-top: 10px;
}

.mini-search-box {
  /* padding-top: 16px; */
  width: 400px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  /* justify-content: space-evenly; */
  align-items: center;
}

.mini-search-box .form-control{
    position: relative; 
    height: 50px;

    padding: 6px 12px 6px 30px;
    border-radius: 4px;
    border: 1px solid #ebebeb;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
    font-size: 16px;
    font-weight: 200;
    margin: 0;
    width: 100%;
}

.mini-search-box .fa-search{
  position: relative;
  top: -2px;
  left: 25px;
}

.pac-container{
  background-color: #fff;
    /* background: url(asset_path("marker2.png")); */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-top: 1px solid #ebebeb;
  max-height: 500px;
  overflow-y: auto;

}

.pac-item, .pac-item-query, .pac-matched{
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

.pac-item{
  padding: 10px;
}

.pac-matched{
  color: #333333;
  font-weight: bold;
}

.pac-icon, .pac-item-selected > .pac-icon{
  background: url(asset_path("marker3.svg"));
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 50%;
  position: relative;
  top: -5px;
  border: none;

}

.navbar-buttons, .top-nav, .top-nav li, .top-nav li div{
  display: flex;
}

.top-nav li, .top-nav li div{
  align-items: center; 
}

.top-nav li div{
  padding: 0 12px;
  font-size: 18px;
}

.navbar-buttons a, .navbar-btn{
    text-decoration: none;
}

.navbar-buttons a:hover, .navbar-btn:hover{
    border-bottom: 2px solid #40d9ac;
}

.navbar-buttons > a:last-child{
    text-decoration: none;
}



/* .header-logo:hover {
  background: #000;
}

.header-list {
  display: flex;
}

.header-list > li {
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
} */
