.review-title{
  justify-content: space-between;
  font-size: 20px;
}

.review-form-container {
  justify-content: space-evenly;
  display: none;
}

.show{
  display: flex;
}
.review-form-container .left{
  width: 30%;
}
.review-form-container .right {
  width: 70%;
}

.review-form {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

.yes-no-buttons{
  width: 30%;
  display: flex; 
  justify-content: space-evenly;
};

.review-form textarea{
  width: 95%;
  height: 10vh;
  color: #333333;
  border: solid 1px #ebebeb;
  resize: none; 
  padding: 10px;
  margin-bottom: 20px;
}

.review-form textarea::placeholder{
  color: #444444;
}

.review-button {
  color: #40d9ac;
}

#review-recommended{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#review-recommended span{
  font-size: 20px;
  font-weight: 500;
}


.review-button{
    height: 30px;
}

.selected-option{
  border: solid 1px #40d9ac;
  color: white;
  background-color: #40d9ac;
}

.review-form .special-buttons-2{
  margin-top: 20px;
  margin-left: auto;
}

.recommend-icon {
  display: inline-block;
  width: fit-content;
  padding: 3px 6px;
  border-radius: 50%;
  color: white;
  background: #40d9ac;
}

.review-item-title{
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  margin-right: 15px;
}

.review-item-title strong{
  font-weight: 500;
}

.review-item-title p{
  font-size: 18px;
  display: inline-block;
}

.review-item-title p:nth-child(2){
  color: #757575;
  padding-top: 4px;
  font-size: 16px;
}

.review-body{
  padding: 10px;
  margin-bottom: 10px;
}
