.search-container{
    display: block;
}

.search-box,.filter-bar{
    width: 100%;
    border: 3px solid yellow;
}

.results-container{
    display: flex;
}

.results-list{
    width: 60%;
    border: 5px solid black;
}

.results-map{
    width: 40%;
    border: 5px solid red;
}

.type-filter{
    padding: 0 10px;
}

.selected-filter{
    border: 1px solid red;
    color: green;
}