.main-content{
    display: block;
    width: 70%;
    margin: 70px auto 0 auto;
}

.splash-items-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.splash-item-link{
    position: relative;
    display: flex;
    overflow: hidden;
    width: 32%;   
    height: 364px;
    margin-left: 2%;
    margin-bottom: 2%;
    align-items: flex-end;

    justify-content: center;
    transition: transform 0.2s ease-in-out, 
                box-shadow 0.2s ease-in-out;
}

.splash-items-container .splash-item-link:nth-child(3n+1){
    margin-left: 0;
};

.splash-item-background {
    box-sizing: border-box;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // border: 2px solid red;

};

.splash-item-link:hover{
    transform: translateY(-3px);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}

.splash-item-link::before{
    content: " ";
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.65));
    z-index: 2;
}

.splash-item-title {
    // border: 5px solid red;
    display: block;
    position: relative;
    bottom: 25px;
    left: 0;
    font-weight: 400;
    color: white;
    z-index: 3;
    text-align: center;

};

.item-title {
    font-weight: 400;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 2px;
    padding: 0 10px;
    margin-block-start: 0.83em;
    // margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
};

